<ng-container *ngIf="null"></ng-container>
<ng-container *ngIf="undefined"></ng-container>
<ng-container *ngIf="link">
  <div fxLayout="row" fxLayoutAlign="space-evently center" fxLayoutGap="12px">
    <div fxLayout="column">
      <img mat-card-avatar src="../../../assets/links/{{link.photo}}">
    </div>
    <div fxLayout="column">
      {{link.name}}
    </div>
    <div fxLayout="column">
      <a href="{{link.url}}" target="_blank" rel="noopener noreferrer">{{link.url}}</a>
    </div>
  </div>
</ng-container>
